.square {
  width: 90px;
  height: 90px;
  display: inline-block;
}

.name-number {
  display: inline-block;
  line-height: 85px;
  width: 100%;
  text-align: center;
}

.navbar-inverse {
  color: white;
  text-align: center;
}
#squares-container {
  height: 362px;
  width: 362px;
  margin-left: 375px;
  border: 1px solid grey;
}